/* Same on all pages */

body {
  font-family: "Bebas Neue", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #001bb3;
  z-index: 1000;
  text-transform: uppercase;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  }

.nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.nav-menu li {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
}

.nav-menu li:hover {
  background-color: #000000;
}

.nav-menu li:last-child {
  margin-right: 0;
}

.nav-menu a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px 10px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
  
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  text-size-adjust: 500px;
}

button img {
  width: 40px;
}

@media (max-width: 800px) {
  .nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #000000;
    padding: 10px;
  }

  .nav-menu.active {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .menu-toggle {
    display: block;
  }

  .nav-menu li:hover {
    background-color: #10bebe;
   }
}

@media (max-width: 484px) {
  .nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 180px;
    background-color: #000000;
    padding: 10px;
    box-sizing: border-box;
    line-height: 40px;
  }

  .nav-menu.active {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .menu-toggle {
    display: block;
  }
}


/* Index page */

#indexContent {
  padding-top: 80px;
  max-width: 900px;
  margin: auto;
}

#indexContent p {
  font-size: 20px;
}

.latestposts {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel-container {
    position: relative;
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-item {
    width: 230px; 
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .carousel-item img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
  .carousel-item h2 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .carousel-item p {
    font-size: 14px;
    margin: 0;
  }
  
  .carousel-item a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-top: auto;
  }
  
  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    outline: none;
  }
  
  .carousel-arrow-prev {
    left: 20px;
  }
  
  .carousel-arrow-next {
    right: 20px;
  }
  
  .post-image {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  

  @media (max-width: 1120px) {

    #indexContent {
      max-width: 665px;
    }

    .carousel-container {
     width: 665px;
    }

    @media (max-width: 800px) {
  
      .carousel-container {
       width: 215px;
      }

      #indexContent {
        max-width: 500px;
        padding-left: 50px;
        padding-right: 50px;
      }
    }



  }


  /* Post page */


  
  .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70%;
    max-height: 70%;
  }
  
  .modal-content img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .modal-content {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  